body {
	min-width:$min-width-body;
}

a {
	transition: background 0.3s, color 0.3s, opacity 0.3s ease;
	&:focus,
	&:hover {
		text-decoration: none;
		outline: none;
	}
}

img{
	width: 100%;
	height: auto;
	vertical-align:top;
}

.tel-link{
	@include mq($from: desktop){
		cursor:default;
		pointer-events:none;
		&:focus,
		&:hover {
			text-decoration:none;
			color:inherit;
			opacity: 1 !important;
		}
	}
}

.container-fluid{
	max-width: 1140px;
}

.btn{
	font-weight:700;
	font-size:20px;
	line-height:22px;
	font:700 20px/22px $font-family-sans-serif;
	padding:18px 115px 16px;
	text-transform:uppercase;
	text-shadow:0 2px 0 rgba(255,255,255,.5);
	box-shadow: 0px 4px 6px -2px rgba(0,0,0,0.4);
	@include mq($until: mobile){
		font-size:13px;
		line-height:15px;
		padding:11px 47px 9px;
	}
}

.block-works{
	overflow:hidden;
	padding:88px 0 65px;
	@include mq($until: mobile){
		padding:47px 0 26px;
	}
}

.title{
	overflow:hidden;
	position:relative;
	margin:0 0 66px;
	@include mq($until: mobile){
		margin:0 0 29px;
	}
	&:after{
		content: "";
		position:absolute;
		bottom:0;
		right:50%;
		transform: translateX(50%);
		width:188px;
		height:6px;
		background: $red-2;
		@include mq($until: mobile){
			width:100px;
			height:5px;
		}
	}
}

h1{
	font-weight:500;
	margin:0 0 26px;
	text-align:center;
	line-height:32px;
	text-transform:uppercase;
	color:$gray-4;
	@include mq($until: mobile){
		font-size:22px;
		line-height:24px;
		margin:0 0 17px;
	}
}

.block-info{
	overflow:hidden;
	.block{
		width:100%;
		padding:0 54px 42px;
		@include mq($until: tablet){
			padding:0 31px 42px;
		}
		@include mq($until: mobile){
			padding:0 41px 42px;
		}
		&:first-child{
			.img-hold{
				width:128px;
			}
		}
		&:last-child{
			.img-hold{
				width:128px;
			}
		}
	}
	.img-hold{
		overflow:hidden;
		margin:0 auto 60px;
		width:123px;
		text-align:center;
		@include mq($until: mobile){
			margin:0 auto 42px;
		}
	}
}

.text-box{
	overflow:hidden;
	text-align:justify;
	@include mq($until: mobile){
		font-size:14px;
		line-height:20px;
	}
	p{
		margin:0;
	}
}

.block-about{
	overflow:hidden;
	min-height: 300px;
	position:relative;
	padding:53px 0 90px;
	@include mq($until: mobile){
		padding:35px 0 30px;
	}
	.bg-stretch {
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
		bottom: 0;
		img{
			margin-top:0 !important;
		}
	}
	h1{
		color:$white;
	}
	.title{
		margin:0 0 47px;
		&:after{
			width:124px;
			@include mq($until: mobile){
				width:100px;
			}
		}
	}
}

.box-text{
	overflow:hidden;
	color:$white;
	font:500 20px/28px $font-family-sans-serif-2;
	padding:0 0 90px;
	@include mq($until: mobile){
		font-size:14px;
		line-height:20px;
	}
	&:last-child{
		padding:0 0 0 30px;
		@include mq($until: tablet){
			padding:0 0 0 10px;
		}
	}
	p{
		margin:0 0 20px;
	}
}

.block-contact{
	overflow:hidden;
	padding:58px 0 92px;
	background:$dark-blue-2;
	@include mq($until: mobile){
		padding:30px 0 116px;
	}
	h1{
		color:$white;
	}
	.title{
		margin:0 0 50px;
		@include mq($until: mobile){
			margin:0 0 45px;
		}
		&:after{
			width:178px;
			@include mq($until: mobile){
				width:100px;
			}
		}
	}
	form{
		padding:0 35px;
		@include mq($until: tablet){
			padding:0;
		}
		@include mq($until: mobile){
			padding:0 10px;
		}
	}
	.hold{
		overflow:hidden;
		position:relative;
		.form-control{
			font-size:17px;
			line-height:19px;
			box-shadow:none;
			display:block;
			height:auto;
			height:61px;
			padding:13px 20px 10px 250px;
			width:100%;
			@include set-placeholder-color($dark-blue-4);
			@include mq($until: tablet){
				padding:13px 20px 10px 150px;
			}
			@include mq($until: mobile){
				font-size:14px;
				line-height:16px;
				padding:12px 16px 10px 100px;
				height:55px;
			}
		}
	}
	label{
		display:inline-block;
		font-size:17px;
		line-height:19px;
		color:$white;
		font-weight:normal;
		margin:0;
		width:35%;
		position:absolute;
		top:22px;
		left:38px;
		@include mq($until: mobile){
			font-size:14px;
			line-height:16px;
			top:20px;
			left:16px;
		}
	}
	textarea{
		height: 150px;
		max-width: 100%;
		min-height: 150px;
		padding: 18px 38px !important;
		width: 100%;
		font-size:17px;
		line-height:19px;
		resize:none;
		@include set-placeholder-color($white);
		@include mq($until: mobile){
			font-size:14px;
			line-height:16px;
			padding: 12px 16px !important;
			height: 135px;
			min-height: 135px;
		}
	}
	.form-control{
		&:focus{
			background:$dark-blue-5;
			box-shadow:inset 0px 1px 0px 0px rgba(75,86,103,0.75);
		}
	}
	.btn{
		width:100%;
		border-radius: 4px;
		transition: all 0.3s ease;
		font-size:18px;
		line-height:20px;
		text-shadow:0 1px 0 rgba(255,255,255,.5);
		@include mq($until: mobile){
			font-size:14px;
			line-height:16px;
			padding:18px;
		}
	}
}